<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org " xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:each="usuario : ${usuario}">
            <h1 th:text="${usuario.nombre}"></h1>
            <h1 th:text="${usuario.apellido}"></h1>
            <h1 th:text="${usuario.dni}"></h1>
            <table border="1" width="1" cellspacing="2">
                <thead>
                    <tr >
                        <th scope="col" >ID TURNO</th>
                        <th scope="col" >PACIENTE</th>
                        <th scope="col" >DNI</th>
                        <th scope="col" >NOSTAS DE LA VISITA</th>
                        <th scope="col" >FECHA TURNO</th>
                        <th scope="col" >OBRA SOCIAL</th>
                        <th scope="col" >ANOTACIONES FICHA</th>
                        <th scope="col" >MATRICULA </th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${usuario.fichaPaciente}"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <th>

            </th>
        </div>

    </body>
</html>
